.duel-container {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  flex: 1 1 600px;
}

.spectator-box {
  border: 1px solid grey;
  flex: 1 1 600px;
}

.debate-box {
  border: 1px solid grey;
  flex: 1 1 600px;
}