.home-container {
  padding: 10px;
  background-color: #34495e;
  color: #fff;
  width: 100%; }

.home-container .arguments-box {
  background-color: #16a085;
  padding: 10px;
  margin: 10px 0;
  max-width: 600px; }

.home-container h2 {
  font-weight: 300; }

.home-container h3 {
  font-weight: 300;
  margin: 0; }

.arguments-list {
  padding: 5px; }

.argument-link {
  margin: 5px 0;
  display: block;
  cursor: pointer; }

a.argument-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  color: #ecf0f1;
  background-color: #1abc9c;
  text-decoration: none; }

a.argument-link .argument-title {
  font-weight: 500; }

a.argument-link:hover {
  background-color: #2ecc71; }

.start-argument-form {
  border: 1px solid #fff;
  padding: 10px; }
