.home-container {
  padding: 10px;
  background-color: #8BBDB2;
  color: #fff;
  width: 100%; }

.home-container .arguments-box {
  background-color: #2D3E50;
  padding: 10px;
  margin: 10px 0;
  max-width: 600px; }

.home-container h2 {
  font-weight: normal; }

.home-container h3 {
  font-weight: normal;
  margin: 0; }

.arguments-list {
  padding: 5px; }

.argument-link {
  margin: 5px 0;
  display: block;
  cursor: pointer; }

a.argument-link {
  display: flex;
  align-items: center;
  padding: 5px;
  color: #333;
  background-color: #F9EEC0;
  text-decoration: none; }

a.argument-link:hover {
  color: #555; }

.start-argument-form {
  border: 1px solid #fff;
  padding: 10px; }
