.home-container {
  padding: 10px; }

.home-container .arguments-box {
  border: 1px solid #7496b9;
  padding: 10px;
  margin: 10px 0; }

.home-container h3 {
  color: #444;
  margin: 0; }

.arguments-list {
  padding: 5px; }

.argument-link {
  margin: 5px 0;
  display: block;
  cursor: pointer; }

a.argument-link {
  color: blue;
  text-decoration: none; }

a.argument-link:hover {
  color: deepskyblue; }
